@keyframes shake {
	from { transform: rotateY(0deg); }
	25% { transform: rotateY(10deg); }
	50% { transform: rotateY(-10deg); }
	75% { transform: rotateY(10deg); }
	to { transform: rotateY(0deg); }
}

body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	background-color: #3d385a;
	color: #fff;
}


.section {
	perspective: 2000px;
}

.week-container {
	width: 100%;
	max-width: 1200px;
	height: 100%;
	min-height: 100vh;
	margin: auto;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.week {
	background-color: #ffffff0a;
}

.week-title {
	width: 17%;
	min-width: 200px;
}
	.week-title h3 {
		margin-bottom: 10px;
		text-transform: uppercase;
	}
	.week-date {
		margin: 0;
		color: #d7e3f3;
		font-size: 0.8em;
	}

.week-days {
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.card {
	width: 135px;
	height: 100px;
	border-radius: 5px;
	background-color: #D6E3F3;
	color: #131022;
	transition: transform 1s;
	transform: rotateY(0deg);
}
	.card:nth-child(odd) {
		margin: 10px;
	}
	.card:hover {
		animation: shake 0.3s ease-out;
	}